.button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 67px;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-dark-navy);
  letter-spacing: 0.06em;
  padding: 17px 0 25px;
  background-color: var(--color-light-yellow);
  border-radius: 15px;
  box-shadow: inset 0 -8px 0 0 #cc8b13;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: var(--color-light-yellow-hover);
  }

  &.button--secondary {
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    padding: 15px 17px 17px 16px;
  }

  &.button--blue {
    background-color: var(--color-light-blue);
    box-shadow: inset 0 -8px 0 0 #118c87;
  
    &:hover {
      background-color: var(--color-light-blue-hover);
    }
  }

  &.button--silver {
    background-color: var(--color-silver);
    box-shadow: inset 0 -4px 0 0 #6b8997;

    &:hover {
      background-color: var(--color-silver-hover);
    }
  }
}
