:root {
  --color-white: #FFFFFF;
  --color-light-blue: #31C3BD;
  --color-light-blue-hover: #65E9E4;
  --color-light-yellow: #F2B137;
  --color-light-yellow-hover: #FFC860;
  --color-dark-navy: #1A2A33;
  --color-semi-dark-navy: #1F3641;
  --color-silver: #A8BFC9;
  --color-silver-hover: #DBE8ED;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
