:root {
  --color-white: #FFFFFF;
  --color-purple: #A729F5;
  --color-navy: #3B4D66;
  --color-dark-navy: #313E51;
  --color-grey-navy: #626C7F;
  --color-light-bluish: #ABC1E1;
  --color-light-grey: #F4F6FA;
  --color-green: #26D782;
  --color-red: #EE5454;
  --color-blue: #306AFF;
  --color-orange: #FF7E35;

  --color-bg: red;
}
