@use "fonts.scss";
@use "reset.scss";
@use "vars.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 588px;
  margin: 0 auto;
  padding: 0 24px;
  height: 100%;

  @media (min-width: 768px) {
    padding: 0 64px;
  }
}

.h-xs {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.h-s {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.h-m {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.h-l {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
