.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px 24px 30px 24px;
  border-radius: 15px;
  box-shadow: inset 0 -8px 0 0 #10212a;
  background-color: var(--color-semi-dark-navy);

  &__title {
    margin-bottom: 24px;
    pointer-events: none;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-silver);
    opacity: 0.3;
    margin-top: 17px;
  }

  &__switch {
    display: inline-block;
    width: 100%;
    height: 72px;
    padding: 9px 8px;
    border-radius: 10px;
    background-color: var(--color-dark-navy);
    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
    &:checked + .select__slider:before {
      transform: translateX(100%);
    }
  }

  &__label {
    &--hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
  
  &__slider {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;

    &-icon {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: background-color 0.3s ease-in-out;

      @media (hover: hover) {
        &:hover {
          background-color: rgba(168, 191, 201, 0.05);
        }
      }

      &.active {
        svg {
          fill: var(--color-dark-navy);
        }
      }

      svg {
        fill: var(--color-silver);
        transition: fill 0.3s ease-in-out;
        width: 32px;
        height: 32px;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 50%;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: var(--color-silver);
      transition: 0.4s;
      border-radius: 10px;
    }
  }
}
