.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: fadeIn 0.3s ease-in-out;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--color-semi-dark-navy);
    height: 228px;

    @media (min-width: 768px) {
      height: 266px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-silver);
    margin-bottom: 16px;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 9px;
    
    @media (min-width: 768px) {
      gap: 24px;
    }

    svg {
      object-fit: contain;
      height: 28px;
      width: 28px;

      @media (min-width: 768px) {
        height: 64px;
        width: 64px;
      }
    }

    &--blue {
      color: var(--color-light-blue);

      svg {
        fill: var(--color-light-blue);
      }
    }

    &--yellow {
      color: var(--color-light-yellow);

      svg {
        fill: var(--color-light-yellow);
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
  }
}
